<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newdjk.bdmember">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:theme="@style/MyAppThem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />
        <activity
            android:name=".ui.activity.login.ResettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.login.ForgetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.mine.PersonalDataActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.mine.SystemSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.mine.AboutUsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.mine.ModifyMobileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.mine.ModifyPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.mine.WebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.mine.SuggestionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.contract.ServicePackageDetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.contract.FamilyMedicalTeam"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThem" />

        <activity
            android:name=".ui.activity.contract.FillContactInformation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xqd.struggle.member.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

    </application>

</manifest>